@import "src/sass/variables";
@import "src/sass/mixins";

.Bars {
	width: 100%;
	margin: 2rem;
	@include absBottom;

	&__bar {
		width: 1rem;
		border-style: solid;
		border: 0.5px solid black;
		background-color: $color-secondary-light;
		display: inline-block;
	}

	&__button {
		margin: auto;
		display: inline-block;
		border-radius: 1rem;
		background-color: #24a0ed;
		padding: 1.5rem;
	}
}
